In [34]:
#Imports needed for coding
from collections import Counter
import pandas as pd
import numpy as np

# 1. What is the time complexity of the following sorting algorithm? Explain the reasoning behind this time complexity, and then write code (pseudocode is okay) for a sorting algorithm that runs in O(nlogn) time.

This sorting algorithm is known as "insertion sort" and runs at best O(n), and at worst $O(n^2)$
This is because in the best case scenario, everything is already sorted and the algorithm needs to only check each set of numbers once. In the worst case scenario, all of the numbers are in reverse order and you have to iterate through the while loop 1 more time than the previous each time as i increases. For example, if one were to run the code on the array of numbers [4,3,2,1]: This table describes how the algorithm runs through the array each time. 

| i =  | j =  | array[j-1] | < or > | array[j] | Swap? | 0 | 1 | 2 | 3 |
|------|------|------------|--------|----------|-------|---|---|---|---|
| 0    | 0    |            |        |          | N/A   | 4 | 3 | 2 | 1 |
| 1    | 1    | 4          | >      | 3        | Yes   | 3 | 4 | 2 | 1 |
| 1    | 0    | -          | -      | -        | N/A   | - | - | - | - |
| 2    | 2    | 4          | >      | 2        | Yes   | 3 | 2 | 4 | 1 |
| 2    | 1    | 3          | >      | 1        | Yes   | 2 | 3 | 4 | 1 |
| 3    | 3    | 4          | >      | 1        | Yes   | 2 | 3 | 1 | 4 |
| 3    | 2    | 3          | >      | 1        | Yes   | 2 | 1 | 3 | 4 |
| 3    | 1    | 2          | >      | 1        | Yes   | 1 | 2 | 3 | 4 |

In this case, every time i increases by 1, the number of times you must run through the while loop increases by 1.

## O(nlogn) time pseudocode:

For this, I am writing a pseudocode for the Heapsort algorithm, at best and worst case scenario it is O(nlogn)


    HeapSort(A)
    1. Build-MAX-HEAP(A) (MAX-HEAPIFY)
    
    #MAX-HEAPIFY is a way of organizing the array such that all "parent nodes" are greater than the "children nodes." To execute MAX-HEAPIFY, the parent closest to the bottom of the tree is compared with its children. If the child is greater than the parent, then the parent and child are swapped. This is continued up the tree at each parent node until the apex of tree is reached. Once the apex is reached, you start at bottom parent again and check that all parents are greater than children nodes. When tree is in "Maxheapify" format, continue onto next step. 
    
    2. For i <-- length[A] downto 2
    3.       do exchange A[1] <-> A[i]
    4.              heap-size[A] <-- heapsize[A]-1
    
    #Steps 2-4: Next, swap the first and last number in array (first number should be the greatest number in the array.) Then, make the heapsize 1 smaller so that the last number of the array is no longer in the heap (It will now remain untouched during the next rounds of re-organizing the array)
    
    5.              MAX-HEAPIFY(A,1)
    
    #Now, you repeat the entire process with the new, smaller by 1 heap. It will move the 2nd largest number in array to the 2nd to last position. Process is repeated iteratively until all numbers have been sorted.

# 3

## 3A Given the sequences below: Calculate the observed and expected frequency of each possible 4-mer assuming each nucleotide appears at a probability of Â¼

In [26]:
def allpossiblekmers(length):
    """This function takes an input length (length of your k-mer) 
    and tells you how many combinations of nucleotide bases (A,T,G,C) there are
    """
    
    allkmers = 4**(length)
    return allkmers

allpossible4mers = allpossiblekmers(4)
print(allpossible4mers)

256

## 3B Compute the frequency of all possible 4-mers in this sequence

In [35]:

def listofallkmers(len_of_kmer, sequence):
    """
    This fxn takes a sequence and returns a list of all of the k-mers that exist
    """
    seq_len = len(sequence)
    
    kmers = []
    for i in range (0, seq_len):
        kmer = sequence[i:i+len_of_kmer]
        if len(kmer) == len_of_kmer:
            kmers.append(kmer)
    return kmers

def freq_of_kmers(kmer_list):
    """
    This fxn takes a list of kmers and counts the number of each different kmer, then calculates its frequency 
    of occurence in the sequence. It then takes that dictionary of frequencies and turns it into a Pandas dataframe. 
    The Pandas dataframe is sorted for easy viewing. 
    """
    
    len_kmer_list = len(kmer_list)
    
    kmer_dict = dict(Counter(kmer_list))
    
    for key, value in kmer_dict.items():
        kmer_dict[key] = value / len_kmer_list
    
    df = pd.DataFrame.from_dict(kmer_dict, orient='index', dtype=None)
    df = df.reset_index()
    df = df.rename(index=str, columns={ 0:'Observed_Frequency', 'index':'Sequence'})
    df = df.sort_values(by = 'Observed_Frequency', ascending = False)
    df['Expected_Frequency'] = 'insert_value'
              
    return df

In [36]:
seqquestion3 = 'AGTCGTACGTGACAGTAGACGTGCCGACGTGAGATACGTGAACGGAGTACGTTCGTGACGGTGAT'
list_seqquestion3_kmers = listofallkmers(4, seqquestion3)
freq_4mers_question3 = freq_of_kmers(list_seqquestion3_kmers)
freq_4mers_question3

   Sequence  Observed_Frequency Expected_Frequency
8      GTGA            0.080645       insert_value
33     CGTG            0.080645       insert_value
31     ACGT            0.080645       insert_value
3      GACG            0.048387       insert_value
36     TACG            0.048387       insert_value
2      TGAC            0.032258       insert_value
39     ACGG            0.032258       insert_value
21     TCGT            0.032258       insert_value
10     GTAC            0.032258       insert_value
27     AGTA            0.032258       insert_value
0      CCGA            0.016129       insert_value
29     TAGA            0.016129       insert_value
25     GTGC            0.016129       insert_value
26     CGTT            0.016129       insert_value
28     TTCG            0.016129       insert_value
34     GACA            0.016129       insert_value
30     CGTA            0.016129       insert_value
32     AGAT            0.016129       insert_value
23     GGTG            0.016129       insert_value
35     GTTC            0.016129       insert_value
37     TGCC            0.016129       insert_value
38     CAGT            0.016129       insert_value
24     TGAG            0.016129       insert_value
20     GAGA            0.016129       insert_value
22     ACAG            0.016129       insert_value
12     AGTC            0.016129       insert_value
4      AACG            0.016129       insert_value
5      GAGT            0.016129       insert_value
6      GATA            0.016129       insert_value
7      TGAA            0.016129       insert_value
9      AGAC            0.016129       insert_value
11     CGGT            0.016129       insert_value
13     GCCG            0.016129       insert_value
1      TGAT            0.016129       insert_value
14     GGAG            0.016129       insert_value
15     GTCG            0.016129       insert_value
16     CGAC            0.016129       insert_value
17     ATAC            0.016129       insert_value
18     GTAG            0.016129       insert_value
19     GAAC            0.016129       insert_value
40     CGGA            0.016129       insert_value

# 9
## 9A In any language of your choice, create a suffix array for Gorgonio and print out the results (index, element) of your array in ascending order.

In [47]:
##I am not entirely sure what to do with this anymore. 
# def suffix_array(str): 
#     return sorted(range(len(str)), key=lambda i: str[i:]) 

# test = 'abaaba$'
# testing = get_suffix_array(test)
# print(testing)

[6, 5, 2, 3, 0, 4, 1]

In [62]:
#New idea: Construct a Panda dataframe which each index is connected with a word and as the index increases, 
#the number of letters is decreased by one. 
#Note, I am not entirely sure if Pandas is the way to store this data. But it worked to build the array I think

def build_suffix_array(string):
    """
    This function takes a string and converts it into a sorted pandas dataframe. 
    
    """
    SA_array = []
    for i in range(0, len(string)): 
        SA_array.append(string[i:])
    df_SA = pd.DataFrame(SA_array)
    df_SA.index = df_SA.index + 1
    df_SA = df_SA.rename(index=str, columns={ 0:'Element'})
    df_SA = df_SA.sort_values(by = 'Element', ascending = True)
    
    return df_SA

test = "abaaba$"
testy = build_suffix_array(test)
print(testy)

   Element
7        $
6       a$
3    aaba$
4     aba$
1  abaaba$
5      ba$
2   baaba$

## 9B Next, implement a âQueryâ method for your suffix array using the binary search method. Please include your well-documented code in your submission.

In [ ]:
##I don't think this is working. Think more on binary search. 
# def binary_search(df_SA, search_str):
#     if search_str <= df_SA[1]:
#         value = 1
#     else if search_str > df_SA[-1]:
#         value
#     else